.container {
    width: 80%;
    height: 170%;
    margin: auto;
    padding: 5px;
    background: #eaba67;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  float: left;

}

.price {
  color: black;
  font-size: 28px;
  font-weight: bold;
  background-color: lightblue;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: grey ;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
